@use "../../App.scss" as *;

.donations {
  padding: $sp-4 $sp-3;

  &__title {
    h3 {
      @extend .title-48;
      color: $lime-1;
    }
    h4 {
      @extend .subtitle;
      color: $lime-1;
    }
    span {
      display: block;
      @extend .title-28;
      color: $black;
      margin: $sp-3 auto;
    }
  }

  &__sum {
    width: 100%;
    padding: $sp-3;
    border-radius: $radius-1;
    color: $lime-2;
    background-color: $black;
    h5 {
      @extend .subtitle;
    }
    span {
      @extend .title-48;
    }
  }

  &__options {
    margin-top: $sp-4;

    display: flex;
    flex-direction: column;
    gap: $sp-3;
    container: options / inline-size;
    .option {
      width: 100%;
      padding: $sp-3;
      padding-right: 0;

      border-radius: $radius-1;
      border: 2px solid $lime-1;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: $sp-3;

      color: $black;
      background-color: $white;
      align-items: flex-start;

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $sp-3;
      }
      &-price {
        display: block;
        @extend .title-28;
        .NT {
          @extend .body-16;
          color: $grey-2;
        }
      }
      &-donator {
        padding: $sp-2 $sp-3;
        display: inline-block;
        background-color: $lime-5;
        border-radius: $sp-2;
      }
      &-image {
        display: none;
        width: calc($fs-1 + $fs-6);
      }
    }
  }
}

@container options (width > 31rem) {
  .donations {
    &__options {
      .option {
        padding: $sp-3 $sp-4;
        &-image {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 62.5rem) {
  .donations {
    display: flex;
    flex-direction: row;
    gap: $sp-4;
    .left {
      width: calc(5 / 12 * 100%);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $sp-4;
    }
    .right {
      width: calc(7 / 12 * 100%);
      margin-top: 0;
    }
    &__sum {
      padding: $sp-3 $sp-4;
      h5 {
        margin-bottom: $sp-1;
      }
    }
  }
}
