@use "../../App.scss" as *;
.header {
  padding: $sp-3;

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  color: $black;

  &__logo {
    height: $sp-5;
    width: auto;
  }
}

.nav {
  height: 100vh;
  width: 60vw;
  padding: $sp-4 $sp-3;

  position: absolute;
  top: 0;
  right: 0;

  background-color: $white;
  color: $black;
  transform: translateX(100%);
  transition: transform 1s ease-in-out 0.5s;

  &.open {
    transform: translateX(0);
  }

  &__logo {
    @extend .header__logo;
    margin-bottom: $sp-4;
  }

  &__links {
    width: 100%;
    li {
      margin-bottom: $sp-3;
      @extend .body-16;
    }
  }
  &__icons {
    width: 100%;
    cursor: pointer;

    li {
      margin-top: $sp-3;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $sp-1;
      @extend .body-16;
    }
  }
}

@media only screen and (min-width: 1210px) {
  .header {
    padding: 0 $sp-6;

    &__icon {
      display: none;
    }
  }
  .nav {
    height: auto;
    width: 60%;
    padding: $sp-3 0;

    display: flex;
    justify-content: space-between;

    position: relative;
    transform: translateX(0);

    &__logo {
      display: none;
    }

    &__links {
      width: auto;
      display: flex;
      align-items: center;
      gap: $sp-4;
      li {
        margin-bottom: 0;
      }
    }
    &__hr {
      display: none;
      width: 60%;
    }
    &__icons {
      width: auto;
      display: flex;
      justify-content: flex-end;
      gap: $sp-3;

      li {
        margin-top: 0;
      }
      &-name {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 90rem) {
  .header {
    padding: 0;
  }
}
