@use "../../App.scss" as *;

.footer {
  margin-top: $sp-4;
  padding: $sp-4 $sp-3;
  background-color: $black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $sp-4;

  color: $white;
  @extend .body-16;

  &__logo {
    height: $sp-6;
  }
  &__social {
    display: flex;
    flex-direction: row;
    gap: $sp-3;
  }

  section {
    width: 100%;
    .right {
      display: flex;
      flex-direction: column;
      gap: $sp-4;
      .title {
        @extend .body-16;
        color: $lime-3;
      }
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $sp-1;
      }
    }
  }
  span {
    font-size: calc($fs-3 / 2);
    font-weight: 400;
    align-self: center;
  }
}

@media only screen and (min-width: 62.5rem) {
  .footer {
    padding: $sp-4 $sp-6;

    section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .right {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
