@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap");

// COLORS //
$black: #000000;
$grey-1: #444444;
$grey-2: #8c8c8c;
$grey-3: #c6c6c6;
$grey-4: #e2e2e2;
$white: #ffffff;

$lime: #a8c400;
$lime-1: #bbe217;
$lime-2: #d1fa31;
$lime-3: #eeffa9;
$lime-4: #fbffe1;

// SPACING //
$sp-1: 0.25rem;
$sp-2: 0.5rem;
$sp-3: 1rem;
$sp-4: 2rem;
$sp-5: 3rem;
$sp-6: 4rem;
